option_settings:
    aws:elasticbeanstalk:application:environment:
        NODE_ENV: production
        product_service: "https://wrbogs51zj.execute-api.us-east-1.amazonaws.com/dev"
        cart_service: "http://lizaveta56k-cart-api-dev.us-east-1.elasticbeanstalk.com/api"
        import_service: "https://0xz3aw44mi.execute-api.us-east-1.amazonaws.com/dev"
        cacheable_urls: "product_service/products;test_service/test"